.block ul.dc-latest-content{
	margin: 0;
	padding: 0;
}
li.list-item{
	list-style: none;
	list-style-image: none;
	padding: 10px 0;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	border-bottom: solid 1px #ccc;

}